*

# ------------------------------------------- #
# Include the following files and directories #
# ------------------------------------------- #

# git files
!.git/
!.github/
!.gitignore

# docs
!docs/
!*/README.md
!LICENSE

# Containers
!docker-compose.yml
!eda.sh

# Design files
!digital/
!analog/
