runs/
__pycache__/
gf180mcu/
gf180_drc.lyrdb
final/
img/
*.lyrdb
.ipynb_checkpoints/
.vscode/
.slang
.github/

# Cocotb build artifacts
cocotb/sim_build/
cocotb/results/
cocotb/cov_annotated/

# Cocotb waveform viewer state
cocotb/waves/
cocotb/*.fst
cocotb/*.vcd

# Cocotb coverage reports`
cocotb/*_coverage.yml
cocotb/*_coverage.xml

# Analog simulation results
analog/sim/*/results
analog/flow/results

# Remove if updates are to be made to run_docker_iic.sh
scripts/
.venv/
