(
    show_hierarchy: None,
    show_menu: None,
    show_ticks: None,
    show_toolbar: None,
    show_tooltip: None,
    show_scope_tooltip: None,
    show_default_timeline: None,
    show_overview: None,
    show_statusbar: None,
    align_names_right: None,
    show_variable_indices: None,
    show_variable_direction: None,
    show_empty_scopes: None,
    show_hierarchy_icons: None,
    show_parameters_in_scopes: None,
    parameter_display_location: None,
    highlight_focused: None,
    fill_high_values: None,
    primary_button_drag_behavior: None,
    arrow_key_bindings: None,
    clock_highlight_type: None,
    hierarchy_style: None,
    autoload_sibling_state_files: None,
    autoreload_files: None,
    waves: Some((
        source: File("/workspace/cocotb/sim_build/stream_out/stream_out.fst"),
        format: Fst,
        active_scope: Some(WaveScope((
            strs: [
                "stream_out",
            ],
            id: Wellen((2)),
        ))),
        items_tree: (
            items: [
                (
                    item_ref: (1),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (2),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (3),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (4),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (5),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (6),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (8),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (9),
                    level: 0,
                    unfolded: true,
                    selected: false,
                ),
                (
                    item_ref: (7),
                    level: 0,
                    unfolded: true,
                    selected: true,
                ),
            ],
        ),
        displayed_items: {
            (1): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "stream_out",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "clk",
                    id: Wellen((2)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "clk",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (6): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "stream_out",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "counter",
                    id: Wellen((11)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "counter [7:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Unsigned"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (3): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "stream_out",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "en",
                    id: Wellen((3)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "en",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (7): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "stream_out",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "done",
                    id: Wellen((12)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "done",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Bit"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (2): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "stream_out",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "rst_n",
                    id: Wellen((5)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "rst_n",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (5): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "stream_out",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "acc",
                    id: Wellen((1)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "acc [175:0]",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Hexadecimal"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (4): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "stream_out",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "piso",
                    id: Wellen((13)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "piso [175:0]",
                display_name_type: Unique,
                manual_name: None,
                format: None,
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (8): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "stream_out",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "y_bit",
                    id: Wellen((6)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "y_bit",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Binary"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
            (9): Variable((
                variable_ref: (
                    path: (
                        strs: [
                            "stream_out",
                        ],
                        id: Wellen((2)),
                    ),
                    name: "load",
                    id: Wellen((4)),
                    index: None,
                ),
                color: None,
                background_color: None,
                display_name: "load",
                display_name_type: Unique,
                manual_name: None,
                format: Some("Bit"),
                field_formats: [],
                height_scaling_factor: None,
                analog: None,
            )),
        },
        display_item_ref_counter: 9,
        viewports: [
            (
                curr_left: (0.052725083060390025),
                curr_right: (0.05274548257646229),
                target_left: (0.0),
                target_right: (1.0),
                move_start_left: (0.0),
                move_start_right: (1.0),
                move_duration: None,
                move_strategy: Instant,
            ),
        ],
        cursor: Some((1, [
            6037434,
        ])),
        markers: {},
        focused_item: Some((8)),
        focused_transaction: (None, None),
        default_variable_name_type: Unique,
        scroll_offset: 0.0,
        display_variable_indices: true,
        graphics: {},
    )),
    drag_started: false,
    drag_source_idx: None,
    drag_target_idx: Some((
        before: (6),
        level: 0,
    )),
    previous_waves: None,
    count: None,
    blacklisted_translators: [],
    show_about: false,
    show_keys: false,
    show_gestures: false,
    show_quick_start: false,
    show_license: false,
    show_performance: false,
    show_logs: false,
    show_cursor_window: false,
    frame_buffer: {
        "pixels_per_row": 16,
        "square_pixels": true,
        "color_mode": Grayscale,
        "grayscale_bits": 1,
        "r_bits": 3,
        "g_bits": 3,
        "b_bits": 2,
        "y_bits": 8,
        "cb_bits": 8,
        "cr_bits": 8,
    },
    wanted_timeunit: PicoSeconds,
    time_string_format: None,
    show_url_entry: false,
    variable_name_filter_focused: false,
    variable_filter: (
        name_filter_type: Contain,
        name_filter_str: "",
        name_filter_case_insensitive: true,
        include_inputs: true,
        include_outputs: true,
        include_inouts: true,
        include_others: true,
        group_by_direction: false,
    ),
    sidepanel_width: Some(300.0),
    ui_zoom_factor: None,
    animation_enabled: None,
    use_dinotrace_style: None,
    transition_value: None,
)